*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #8A6552;
    background-color: #EDE0D4;
}

header{
    padding: 20px 35px;
    background-color: #E6CCB2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #8A6552;
    margin: 0;
}

header a{
    color: #8A6552;
    text-decoration: none;
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover{
    background: #DDB892;
    color: #8A6552;
    width: 100%;
    border-radius: 15px;
}

.hero{
    background-color: #63A276;
    display: flex;
    justify-content: space-between;
}

.pic{
    display: flex;
    justify-content: flex-start;
}

.subtitle{
    color:#DDB892;
    font-size: 35px;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px 30px;
    letter-spacing: 5px;
    text-shadow: 0 0 6px #8A6552;
}

.info p{
    font-size: 17px;
    text-align: center;
    margin: auto 50px;
}

.section-name{
    border-bottom: 3px solid;
    width: 50%;
    font-size: 25px;
    margin: 40px auto 20px auto;
    text-align: center;
    padding-bottom: 10px;
    border-color:#DDB892
}

.contact-info{
    text-align: center;
    margin: auto;
}

.contact-info a{
    color: #8A6552;
    text-decoration: none;
    font-size: 17px;
    width: 50%;
    display: inline-block;
    line-height: 50px;
}

.most-recent{
    display: flex;
    justify-content: center;
}

.titles{
    display: flex;
    justify-content: center;
    line-height: 10px;
    font-size: 19px;
    margin-top: 10px;
}

.portfolios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto 30px;
}

.flex-row{
    display: flex;
}