* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: century-gothic, sans-serif !important;
  color: whitesmoke !important;
  background-color: black !important;
}
/* apply styles to header */
header {
  padding: 20px 35px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

header a {
  color: #7ffab7;
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.star {
  justify-content: flex-start;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 25px;
}

header nav ul li a:hover {
  background: whitesmoke;
  color: black;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
}
/* hero styling */

.hero {
  border-bottom: 14px dotted #7ffab7;
  display: flex;
}

.pic {
  justify-content: center;
  margin-top: 40px;
  margin-left: 150px;
  margin-bottom: 50px;
}

.subtitle {
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  line-height: 18px;
  text-align: right;
  font-weight: lighter;
}

.subtitle .name {
  font-size: 90px;
  margin-bottom: 100px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 100px;
  text-shadow: 1px 8px 10px #7ffab7;
}
/* end hero styling */

/* add About Me styles */
.section-about h2 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  text-shadow: 1px 8px 10px #7ffab7;
}

.info p {
  font-size: 22px;
  text-align: center;
  margin: 85px 60px 150px auto;
}

/* add My Work styles */

.my-work h2 {
  font-size: 80px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 90px;
  text-shadow: 1px 8px 10px #7ffab7;
}

.card {
  background-color: black;
}

.card-body {
  background-color: black;
}

.cards {
  margin-top: 40px;
  margin-left: 140px;
}

.row2 {
  margin-bottom: 100px;
}

.cards2{
  margin-left: 40px;
  margin-right: 40px;
}

/* add Contact Me styles */

.contact h2{
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  text-shadow: 1px 8px 10px #7ffab7;
}

.contact-info {
  text-align: center;
  margin: auto;
}

.contact-info a {
  text-decoration: none;
  font-size: 30px;
  width: 50%;
  display: inline-block;
  line-height: 50px;
  color: white;
}

.flex-row {
  display: flex;
}

/* add media queries edits */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  .name, .title {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .hero {
    width: 100%;
  }
  .section-name {
    width: 80%;
  }
}

@media screen and(max-width: 768px) {
  header {
    position: relative;
    justify-content: center;
  }
.name, .title {
    width: 100%;
    text-align: center;
  }
  .hero {
    width: 125%;
  }
  .pic {
    flex: 0 32%;
  }
  }



@media screen and(max-width: 575px) {
  .name{
    width: 100%;
    text-align: center;
  }
  .section-name {
    width: 95%;
  }
  .info p {
    width: 100%;
  }
  .contact-info {
    text-align: center;
  }
}
